.App-container {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}

.mobile-only {
    padding: 50px;
    text-align: center
}

@media screen and (min-width: 480px) {
    .App {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .mobile-only {
        display: none;
    }
}