.signup-background {
    width: 100vw;
    height: 100vh;
    padding-top: 13%;
    text-align: center;
    background: url('../../assets/sky.jpeg') no-repeat;
    background-size: 150% 100%;
}

.intro-container {
    margin-bottom: 20px
}

.signup-title > h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 35px;
    color: rgb(153, 153, 102);
    mix-blend-mode: difference;
}

.motto > h4 {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(153, 153, 102);
    mix-blend-mode: difference;
}

.signup-container {
    width: 90%;
    margin: auto;
    padding: 10px 20px 20px 20px;
    background-color: rgba(227,238,250, .85);
    border-radius: 5%;
}

.signup-container > p {
    font-size: 14px;
}

.createAccount > h3 {
    font-size: 25px;
    margin: 0 0 25px 0;
    color: rgb(67,117,227);
}

label {
    font-size: 16px;
}

input {
    margin: 5px;
    height: 30px;
}

.signup-button {
  background: linear-gradient(top, #3498db, rgba(67,117,227,1));
  background-image: -webkit-linear-gradient(top, #3498db, rgba(67,117,227,1));
  background-image: -moz-linear-gradient(top, #3498db, rgba(67,117,227,1));
  background-image: -ms-linear-gradient(top, #3498db, rgba(67,117,227,1));
  background-image: -o-linear-gradient(top, #3498db, rgba(67,117,227,1));
  background-image: linear-gradient(to bottom, #3498db, rgba(67,117,227,1));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 15px;
}

.signup-button:hover {
  background: linear-gradient(top, #3cb0fd, #3498db);
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.message {
    margin: 5px;
    font-size: 13px;
    color: red;
}