.settings {
    padding: 40px 10px;
}

.right-side {
    width: 49%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top;
}

.left-side {
    width: 49%;
    margin-right: 1%;
    display: inline-block;
}

.options-container {
    margin: 20px 0 0 0;
}

.option-container {
    margin: 5px 0 5px 0;
}

.enter-location-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: rgba(66, 73, 73,1);
    box-shadow: 3px 3px 4px black;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    margin: 3px;
}

.enter-location-button:hover {
  background: grey;
  text-decoration: none;
}

.saved-settings {
    color: red;
    display: inline-block;
    font-size: 12px;
}

.saved-settings-button {
  border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: rgba(66, 73, 73,1);
    box-shadow: 3px 3px 4px black;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    margin: 3px;
}

.saved-settings-button:hover {
  background: grey;
  text-decoration: none;
}

