.yourWhether-container {
    height: 100%;
    width: 100%;
    position: fixed;
}

.yourWhether {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.no-location {
    padding-top: 50px;
    text-align: center;
}

.save-positions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: none;
  background: lightgrey;
  color: white;
  mix-blend-mode: difference;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  z-index: 200;
}

.save-positions:hover {
  background: white;
  color: white;
  mix-blend-mode: difference;
  text-decoration: none;
  z-index: 200;
}

.saved {
   position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 170px;
    height: 90px;
    margin-top: -80px;
    border-radius: 5%;
    color: red;
    background-color: black;
    margin-left: -86px;
    z-index: 200;
}